# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest cache directory
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest logs or other output files (if any)
*.log
