# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest cache directory
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest logs or other output files (if any)
*.log

# Build directories
frontend/build
client/templates
client/static/assets

# File upload folders
clients/
files/
uploads/

# Key files
private_key.pem
public_key.pem
frontend/build/index.html
